.sliderHeading {
    font-family: 'Ferry', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: var(--black);
}

.spinnerDiv {
    height: 162px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    animation: spin 0.75s infinite linear;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sliderInfo {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #949494;
    padding: 17px 0 27px 0;
}

.slider {
    max-width: 1120px;
    margin: 0 auto;
    border: 2px solid var(--teal);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    margin-left: 160px;
    height: 162px;
    max-height: 162px;
}

.leftHeader {
    height: 162px;
    width: 133px;
    background-color: var(--teal);
    position: absolute;
    z-index: 3;
    left: -134px;
    top: -2px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white);
    padding: 17px 0;
    gap: 26px;
}

@media all and (max-width: 768px) {
	.slider {
        margin-top: 75px;
        height: 100%;
        max-height: 75px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        max-width: 298px;
        border: none;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        margin-left: 18px;
    }

    .leftHeader {
        border-radius: 10px 0px 0px 10px;
        transform: rotate(90deg);
        width: 75px;
        height: 299px;
        left: 111px;
        top: -187px;
        padding-top: 38px;
        padding-bottom: 52px;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .leftHeader p {
        transform: rotate(270deg);
    }
    
    .leftHeader p:nth-child(2) {
        padding-left: 32px;
    }

    .sliderHeading {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.01em;
        padding-top: 59px;
    }

    .sliderInfo {
        letter-spacing: 0.01em;
        padding: 10px 0 34px 0;
    }
} 

