.arrow-prev {
    position: absolute;
    background-color: transparent;
    top: 49%;
    left: -160px;
}

.arrow-next {
    position: absolute;
    background-color: transparent;
    top: 49%;
    right: -40px;
}

