.arrow {
    position: absolute;
    cursor: pointer;
    color: black;
    width: 18px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow svg{
    position: absolute;
    top: -1px;
    left: -10px;
    color: #c0c0c0;
}

.arrow svg:hover {
    color: var(--black)
}

.homeSlider.arrowRight {
    right: -10px;
}

.homeSlider.arrowLeft {
    left: 3px
}

.resultSlider.arrowRight {
    right: -35px;
}

.resultSlider.arrowLeft {
    left: -164px
}

@media all and (max-width: 864px) {
    .resultSlider.arrowRight {
        top: 26%;
        right: -35px;
    }
    
    .resultSlider.arrowLeft {
        top: 26%;
        left: -164px
    }
    
}

@media all and (max-width: 768px) {
    .resultSlider.arrowRight {
        top: 49%;
        right: -32px;
    }
    
    .resultSlider.arrowLeft {
        top:49%;
        left: -29px
    }

    .homeSlider.arrowRight {
        right: -12px;
    }

    .homeSlider.arrowLeft {
        left: -10px
    }
}