.form {
    width: 872px;
    height: 543px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.formLeft,
.formRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formLeft {
    padding: 29px 11px 0 44px;
}

.formLeftMain {
    width: 242px;
    display: flex;
    flex-direction: column;
}

.formLeftMain input {
    padding-left: 17px;
}

.select,
.date {
    width: 100%;
    height: 43px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    outline: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
}

.select {
    color: var(--black);
    padding: 0 22px;
}

.formLeft label {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: var(--black);
    white-space: pre;
    padding-bottom: 20px;
}

.selectLbl {
    padding-top: 11px;
}

.formLeftBottom,
.selectLbl {
    padding-top: 11px;
    width: 100%;
}

.qtyLbl {
    padding-top: 30px;
}

.formLeftdate {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
    padding-top: 20px;
    max-height: 43px;
}

.date {
    outline: 0;
    max-width: 176px;
    min-width: 176px;
    padding: 0 17px;
}

.formRight {
    padding: 36px 39px 0 0;
    min-width: 445px;
    max-width: 445px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: var(--black);
}

.checkbox {
    margin-right: 17px;
}

.checkbox:not(:checked),
.checkbox:not(:checked) + label {
    opacity: 0.4;
}

.checkbox:checked,
.checkbox:checked + label {
    opacity: 1;
}

.checkbox:checked {
    opacity: 1;
}

.formRightBottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btnDiv {
    margin-top: 137px;
    width: 305px;
    height: 59px;
    letter-spacing: 0.03em;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.comment {
    padding-top: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #949494;
}

.isInvisible {
    opacity: 0;
}

.alert {
    opacity: 1;
    color: red;
}

.btnDivMobile { 
    display: none;
}


@media all and (max-width: 768px) {
    .formRight {
        display: none;
    }

    .form {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 688px;

    }

    .formLeft {
        padding: 32px 26px 0 14px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .formLeftdate {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        flex-wrap: nowrap;
        padding-top: 0px;
        max-height: 100%;
        width: 100%; 
    }

    .formLeftMain {
        width: 100%;
        height: 100%;
    }

    .formLeft label,
    .select,
    .date,
    input {
        letter-spacing: 0.02em;
    }

    .formLeft label:nth-child(4) {
        padding-top: 11px;
    }

    .formLeftBottom > label {
        padding-top: 11px;
    }

    .formLeftBottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }

    .btnDivMobile {
        display: block;
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        margin-top: 40px;
    }

}

