.docCard {
    width: 641px;
    height: 694px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 19px 30px 35px 30px;
}

.cardHeader {
    display: flex;
    gap: 14px;
}

.cardHeader > span:nth-child(2) {
    border-bottom: 1px solid #949494;
}

.cardHeader,
.cardStats {
    color: #949494;
}

.cardHeader,
.cardStats,
.cardBtn,
.cardText {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

.cardTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: var(--black);
    padding-top: 24px;
}

.cardBadge {
    width: 157px;
    height: 22px;
    background-color: #FFB64F;
    border-radius: 5px;
    margin: 14px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: var(--black);
    text-align: center;
    align-items: center;
    padding: 4px 0px 3px 0;
}

.cardImage {
    height: 158px;
}

.cardImage,
.cardImage > img {
    border-radius: 10px;
    width: 100%;
}

.cardText {
    height: 228px;
    color: var(--black);
    opacity: 0.5;
    overflow: hidden;
    padding: 20px 0 32px 0;
}

.cardBtn {
    width: 223px;
    height: 46px;
    background-color: var(--aqua);
    padding: 14px 5px;
    text-align: center;
    border-radius: 5px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


@media all and (max-width: 768px) {
    .docCard {
        width: 336px;
        padding: 18px 14px 18px 24px;
        margin: 0 auto;
    }

    .cardHeader {
        gap: 9px;
    }

    .cardHeader,
    .cardStats {
        color: #949494;
    }

    .cardTitle {
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.01em;
        padding-top: 21px;
    }

    .cardBadge {
        width: 132px;
        height: 20px;
        margin: 20px 0 13px 0;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.01em;
        padding: 4px 5px 4px 5px;
    }

    .cardStats {
        letter-spacing: normal;
    }

    .cardHeader,
    .cardStats,
    .cardBtn {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01em;
    }

    .cardText {
        height: 255px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.01em;
        padding: 18px 0 25px 0;
    }

    .cardBtn {
        width: 195px;
        height: 41px;
        background-color: var(--aqua);
        padding: 12px 5px;
        text-align: center;
        border-radius: 5px;
    }
}