.result {
    max-width: 1340px;
    padding: 0 10px;
    margin: 0 auto;
    min-height: 100%;
}

 .resultCard {
    display: flex;
    flex-direction: column;
    height: calc(158px - 34px);
    max-width: 137px;
    width: 100%;
    border-right: 2px solid rgba(148, 148, 148, 0.4);
    margin: 17px 0;
    padding: 1px 16px 0 16px;
    align-items: center;
}

 .resultCard p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--black);
    padding-bottom: 27px;
}

.resultCard .cardDate {
    padding-bottom: 27px;
}


 @media all and (max-width: 768px) {
	.result {
        max-width: 355px;
        margin: 0 auto;       
    }

    .resultCard {

        height: 100%;      
        padding: 0 42px 8px 9px;
        flex-direction: row;
        justify-content: space-between;
        border-right: none;
        width: 100%;
        max-width: 298px;
    }
} 
