.homeSlider {
    max-width: 100%;
}

.slideHome div {
    height: 225px;
}
.slideHome {
    max-width: 400px;
}

.homeSlider .intSlide {
    max-width: 400px;
    height: 225px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 0 19px;
}

.resultSlider .intSlide {
    max-height: 158px;
    height: 100%;
    max-width: 141px;
}


@media all and (max-width: 768px) {
    .resultSlider .intSlide {
        height: 65px;
        max-width: 298px;
        width: 100%;
        min-width: 298px;
        
    }

    .slideHome div {
        height: 225px;
        max-width: 298px;

    }

    .homeSlider {
        max-width: 375px;
        margin-right: 0px;
    }

    .slideHome {
        max-width: 375px;
    }

	.slideHome {
        max-width: 375px;
    }

    .homeSlider .intSlide {
        max-width: 298px;
        padding: 0 17px;
    }
} 