.homeSlider .slick-slide>div {
    margin: 0 15px;
    width: 100%;
    max-width: 400px;
}

.homeSlider .slick-list {
    margin-left: 15px;
}

@media all and (max-width: 870px) {
    /* .homeSlider .slick-slide>div {
        margin-left: 18px;
        width: 100%;
        max-width: 375px;
    } */
    
    /* .homeSlider .slick-slide {
        width: 100%;
        max-width: 375px;
    } */

    /* .homeSlider .slick-list {
        margin-left: -2px;
        margin-right: 0px;
    } */
}


@media all and (max-width: 768px) {
    .homeSlider .slick-slide>div {
        margin-left: 18px;
        width: 100%;
        max-width: 375px;
    }
    
    .homeSlider .slick-slide {
        width: 100%;
        max-width: 375px;
    }

    .homeSlider .slick-list {
        margin-left: 0px;
    }
}

