.card {
    border: 2px solid transparent;
    border-radius: 10px;
    width: 415px;
    height: 540px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.01em;
    color: var(--black);
}

.cardHeader.aqua {
    background-color: var(--aqua);
}

.cardHeader.orange {
    background-color: var(--orange);
}

.cardHeader.black {
    background-color: var(--black);
}

.cardHeader.fontWhite {
    color: var(--white);
}

.cardHeader.fontBlack {
    color: var(--black);
}

.card p,
.card ul > li {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.cardHeader {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.cardHeaderIcon {
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.icon1 {
    position: absolute;
    top: 11px;
    bottom: 29px;
    right: calc(-100% + 16px);
}

.icon2 {
    position: absolute;
    bottom: 9px;
    right: calc(-100% + 12px);
}

.icon3 {
    position: absolute;
    top: 23px;
    right: calc(-100% + 5px);
}

.cardHeaderTitle {
    padding: 30px 0 34px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
}

.cardMain {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 24px;
}

.cardContent {
    padding: 33px 12px 55px 30px;
    display: flex;
    flex-direction: column;
    gap: 59px;
    position: relative;
}

.activeTariff {
    position: absolute;
    width: 134px;
    height: 24px;
    background: #3BA5E0;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: var(--white);
    top: 12px;
    right: 10px;
    text-align: center;
    padding: 3px 0;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.visibility {
    display: none;
}

.price {
    display: flex;
    gap: 19px;
    align-items: center;
}

.promoPrice {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}

.regularPrice {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: line-through;
    opacity: 0.5;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.description ul {
    margin-top: 10px;
}

.checkMark {
    margin-right: 8px;
}

.cardBtn {
    padding: 0 30px;
    width: 355px;
    height: 59px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0.01em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.hidden {
    opacity: 0;
}


@media all and (max-width: 768px) {
	.card {
        height: 512px;
        width: 100%;
        max-width: 335px;
    }

    .card p,
    .card ul > li {
        font-size: 16px;
        line-height: 19px;
    }

    .cardHeaderTitle {
        padding: 30px 0 34px 24px;
    }
    
    .title {
        font-size: 20px;
        line-height: 24px;
    }

    .cardMain {

        padding-bottom: 31px;
    }
    
    .cardContent {
        padding: 20px 5px 39px 14px;
        display: flex;
        flex-direction: column;
        gap: 59px;
        position: relative;
    }

    .cardHeaderIcon {
        width: 53px;
        height: 59px;
        text-align: center;
        vertical-align: middle;
        position: relative;
    }
    .cardHeaderIcon > .icon {
        position: absolute;
        width: 53px;
        height: 59px;
        top: 0px;
        right: 20px;
    }

    .icon1 {
        width: 50px;
        height: 53px;
        position: absolute;
        top: 8px;
        right: 5px;
    }
    
    .icon2 {
        width: 68px;
        height: 76px;
        position: absolute;
        top: 5px;
        bottom: 0;
        right: 3px;
    }
    
    .icon3 {
        width: 73px;
        height: 61px;
        position: absolute;
        top: 3px;
        right: 14px;
    }

    .price {
        gap: 10px;
    }

    .activeTariff {
        visibility: hidden;
    }
    
    .subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .checkMark {
        margin-right: 7px;
        font-size: 16px;
        line-height: 19px;
    }

    .cardBtn {
        padding: 0;
        width: 287px;
        font-size: 18px;
        line-height: 22px;
    }
}
