.container {
    max-width: 1364px;
    padding: 0 10px;
    height: calc(100vh - 137px - 93px);
    min-height: calc(892px + 25px + 47px + 400px);
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    max-height: 100%;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.heading {
    font-family: 'Ferry';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 642px;
    padding-top: 69px;
}

.text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin: 25px 0 47px 0;
}

.heading,
.text {
    color: var(--black);
    padding-left: 7px; 
}

.searchRight {
    background-image: url('../../assets/images/search-bg.png');
    background-repeat: no-repeat;
    background-position: 11px 131px;
    background-size: contain;
    width: 460px;
}


@media all and (max-width: 1359px) {
	/* .slider {
        width: calc(980px - 133px);
        margin-left: 176px;
        border: 2px solid var(--teal);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
    } */

    .searchRight {
        background-position: 11px bottom;
        width: 100%;
        
    }
}