.homeTariffs {
    padding: 107px 0 118px 0;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.title {
    font-family: 'Ferry', sans-serif;
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 0.01em;
    color: #000000;
    text-transform: uppercase;
}

.cards > ul {
    display: flex;
    justify-content: space-between;
    gap: 37px;
    flex-wrap: wrap
}

@media all and (max-width: 1340px) {
    .cards > ul {
        justify-content: center;
        
        
    }

    .title {
        text-align: center;
    }

}

@media all and (max-width: 768px) {
    .homeTariffs {
        padding: 0px 0 43px 0;
        gap: 37px;
    }
    
	.title {
        font-size: 28px;
        line-height: 34px;
    }

    .cards > ul {
        gap: 43px;
    }
}
