@font-face {
    font-family: 'Ferry';
    src: url('./assets/fonts/ferry_black.woff');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Medium.woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

img {
	border: 0;
	vertical-align: top;
}

a {
	text-decoration: none;
	color: inherit;
}

a[href^=tel] {
	text-decoration: inherit;
	color: inherit;
}

ul,
ol,
li {
	list-style: none;
}

button {
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    border: none;
    background: transparent;
    cursor: pointer;
}

