.resDocConatiner {
    flex-grow: 1;
    min-height: 100%;
    padding-bottom: 109px;
}

.resDocCHeading {
    font-family: 'Ferry', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: var(--black);
    padding: 107px 0 58px 0;
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 38px;
    gap: 38px;
}

.btnDiv {
    border-radius: 5px;
    width: 305px;
    height: 59px;
    padding: 5px;
    letter-spacing: 0.04em;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
}


@media all and (max-width: 768px) {
    .resDocCHeading {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.01em;
        color: var(--black);
        padding: 57px 0 34px 0;
    }
}